/* 
Author: Cooper MacDonald 
File: style.css
Date: October 20, 2023
Description: This is the Lab 3 part 3 css page for Web Development - Fundamentals (INFT1206)  
*/

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }

/* font imports */

/*

Crimson Text font obtained from fonts.google.com,
originally created by Sebastian Kosch
See https://fonts.google.com/specimen/Crimson+Text

Raleway font obtained from fonts.google.com,
originally created by Matt McInterney
See https://fonts.google.com/specimen/Raleway

*/

@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

/* Applying fonts to the page */

body {
    font-family: 'Crimson Text';
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Raleway';
}